<!-- src/app/auth/register/register.component.html -->

<app-header></app-header>

<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="row w-100 justify-content-center">
    <div class="col-md-6 d-none d-md-block">
      <img src="assets/img_login-daryza.avif" class="img-fluid h-100" alt="Register Image">
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <div class="card shadow-lg p-4" style="width: 100%; max-width: 400px;">
        <h2 class="text-center mb-4">Registro</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
          <div class="mb-3">
            <label for="username" class="form-label">Nombre de usuario</label>
            <input type="text" id="username" class="form-control" formControlName="username" required>
          </div>
          <div class="mb-3">
            <label for="last_name" class="form-label">Apellido</label>
            <input type="text" id="last_name" class="form-control" formControlName="last_name" required>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-control" formControlName="email" required>
            <div *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)" class="text-danger">
              <div *ngIf="registerForm.get('email')?.errors?.['required']">El email es obligatorio.</div>
              <div *ngIf="registerForm.get('email')?.errors?.['email']">El email no es válido.</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="phone_number" class="form-label">Teléfono</label>
            <input type="text" id="phone_number" class="form-control" formControlName="phone_number" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" id="password" class="form-control" formControlName="password" required>
            <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)" class="text-danger">
              <div *ngIf="registerForm.get('password')?.errors?.['required']">La contraseña es obligatoria.</div>
              <div *ngIf="registerForm.get('password')?.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres.</div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary w-100" [disabled]="registerForm.invalid">Registrarse</button>
          <div *ngIf="errorMessage" class="alert alert-danger mt-3">
            {{ errorMessage }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
