<!-- <div class="flex flex-col flex-1 w-full overflow-y-auto"> -->
<div class="grid mb-2 pb-10 px-4 rounded-1xl bg-gray-100 border-3 ">

    <div class="grid grid-cols-12 gap-3">

        <div class="grid grid-cols-12 col-span-12 gap-6 xxl:col-span-9">
            <div class="col-span-12 mt-2">

                <div class="flex items-center h-10 intro-y">
                    <h2 class="mr-5 text-lg font-medium truncate">Dashboard</h2>
                </div>

                <div class="grid grid-cols-12 gap-6 mt-1">
                    
                    <!-- clientes -->
                    <a class="transform  hover:scale-105 transition duration-300 shadow-xl rounded-lg col-span-12 sm:col-span-6 xl:col-span-3 intro-y bg-white"
                        routerLink="/admin/cliente">
                        <div class="p-5">
                            <div class="flex justify-between">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 text-blue-400"
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
                                </svg>
                                <div class="bg-green-500 rounded-full h-6 px-2 flex justify-items-center text-white font-semibold text-sm">
                                    <span class="flex items-center">{{ porcentaje_aumento_clientes | number:'1.0-2' }}%</span>
                                </div>
                            </div>
                            <div class="ml-2 w-full flex-1">
                                <div>
                                  <div class="mt-3 text-3xl font-bold leading-8">{{ totalClientes }}</div>
                                  <div class="mt-1 text-base text-gray-600">Clientes</div>
                                </div>
                            </div>
                        </div>
                    </a>

                    <!-- productos -->
                    <a class="transform  hover:scale-105 transition duration-300 shadow-xl rounded-lg col-span-12 sm:col-span-6 xl:col-span-3 intro-y bg-white"
                        routerLink="/admin/productos">
                        <div class="p-5">
                            <div class="flex justify-between">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 text-pink-600"
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z" />
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z" />
                                </svg>
                                <div
                                    class="bg-yellow-500 rounded-full h-6 px-2 flex justify-items-center text-white font-semibold text-sm">
                                    <span class="flex items-center">30%</span>
                                </div>
                            </div>
                            <div class="ml-2 w-full flex-1">
                                <div>
                                    <div class="mt-3 text-3xl font-bold leading-8">{{ totalProductos }}</div>

                                    <div class="mt-1 text-base text-gray-600">Productos</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    
                    <!-- ventas -->
                    <a class="transform  hover:scale-105 transition duration-300 shadow-xl rounded-lg col-span-12 sm:col-span-6 xl:col-span-3 intro-y bg-white"
                        routerLink="/admin/generar-venta">
                        <div class="p-5">
                            <div class="flex justify-between">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 text-yellow-400"
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
                                </svg>
                                <div
                                    class="bg-red-500 rounded-full h-6 px-2 flex justify-items-center text-white font-semibold text-sm">
                                    <span class="flex items-center">{{ porcentaje_aumento_comprobantes | number:'1.0-2' }}%</span>
                                </div>
                            </div>
                            <div class="ml-2 w-full flex-1">
                                <div>
                                    <div class="mt-3 text-3xl font-bold leading-8">{{ totalVentas }}</div>

                                    <div class="mt-1 text-base text-gray-600">Ventas</div>
                                </div>
                            </div>
                        </div>
                    </a>
    
                    <!-- user -->
                    <a class="transform  hover:scale-105 transition duration-300 shadow-xl rounded-lg col-span-12 sm:col-span-6 xl:col-span-3 intro-y bg-white"
                        routerLink="/admin/usuarios">
                        <div class="p-5">
                            <div class="flex justify-between">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 text-green-400" 
                                fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
                                </svg>
                                  
                                <div
                                    class="bg-blue-500 rounded-full h-6 px-2 flex justify-items-center text-white font-semibold text-sm">
                                    <span class="flex items-center">{{ porcentaje_aumento_usuarios | number:'1.0-2' }}%</span>
                                </div>
                            </div>
                            <div class="ml-2 w-full flex-1">
                                <div>
                                    <div class="mt-3 text-3xl font-bold leading-8">{{ totalUsuarios }}</div>

                                    <div class="mt-1 text-base text-gray-600">User</div>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
                
            </div>

        </div>

        <div class="col-span-12 mt-3">
            <div class="grid gap-2 grid-cols-1 lg:grid-cols-2">
                 
                <!-- Ventas Diarias por Día de la Semana-->
                 <div class="bg-white shadow-lg p-4">
                    <apx-chart 
                        [series]="ventasChartOptions.series" 
                        [chart]="ventasChartOptions.chart" 
                        [xaxis]="ventasChartOptions.xaxis" 
                        [title]="ventasChartOptions.title">
                    </apx-chart>
                </div>    

                <!-- Movimientos de  entradas y salidas: -->
                <!-- Movimientos de entradas y salidas: -->
                <div class="bg-white shadow-lg p-4">
                    <apx-chart 
                    [series]="movimientosChartOptions.series" 
                    [chart]="movimientosChartOptions.chart" 
                    [xaxis]="movimientosChartOptions.xaxis" 
                    [plotOptions]="movimientosChartOptions.plotOptions" 
                    [title]="movimientosChartOptions.title">
                    </apx-chart>
                </div>

                  

                <!-- <div class="bg-white shadow-lg p-4">
                    <apx-chart 
                        [series]="pieChartOptions.series" 
                        [chart]="pieChartOptions.chart" 
                        [labels]="pieChartOptions.labels" 
                        [title]="pieChartOptions.title" 
                        [plotOptions]="pieChartOptions.plotOptions">
                    </apx-chart>
                </div> -->
            
            </div>
        </div>

        <!-- Grafico de linea de Movimientos de  entradas y salidas: -->
        <!-- <div class="col-span-12 mt-3">
            <div class="grid gap-2 grid-cols-2">
                <div class="bg-white shadow-lg p-4">
                    <apx-chart 
                    [series]="movimientosChartOptions.series" 
                    [chart]="movimientosChartOptions.chart" 
                    [xaxis]="movimientosChartOptions.xaxis" 
                    [title]="movimientosChartOptions.title">
                    </apx-chart>
                </div>
            </div>
        </div> -->
        
    </div>

</div>