
<div class="container" style="padding: 0px;">

    <div class="Breadcrumb bg-white rounded">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <i class="bi bi-house p-2"></i>
            <li class="breadcrumb-item p-2"><a href="admin/dashboard/">Inicio</a></li>
            <li class="breadcrumb-item active p-2" aria-current="page">CLIENTE</li>
          </ol>
        </nav>
    </div>

    <div class="bg-white">
        <div style="display: flex; align-items: center; padding: 10px;">
            <i style="font-size: 25px;"></i>
            <p style="font-size: 24px; line-height: 1.2; margin: 0 0 0 10px;">AGREGAR CLIENTE</p>
        </div>  
        <hr>
    </div>    



</div>
  