:root {
  --bs-dark-bg-subtle: #343a40; /* Ejemplo de color oscuro */
}

.main {
  padding: 0;
  margin: 0;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.card.border-0 {
  margin: 0;
  padding: 0;
}

.breadcrumb {
  margin: 0; /* Ajusta este valor según sea necesario */
  padding: 0; /* Ajusta este valor según sea necesario */
}

.breadcrumb-item {
  padding: 0; /* Ajusta este valor según sea necesario */
}

nav[aria-label="breadcrumb"] {
  margin: 0; /* Ajusta este valor según sea necesario */
  padding: 0; /* Ajusta este valor según sea necesario */
}

.Breadcrumb {
  margin-bottom: 10px; /* Ajusta este valor según sea necesario */
}

.container.my-3 {
  margin-top: 10px; /* Ajusta este valor según sea necesario */
  margin-bottom: 10px; /* Ajusta este valor según sea necesario */
}

/* Elimina el fondo blanco de los elementos */
.card.border-0 {
  background-color: transparent; /* Cambia el color de fondo a transparente */
}

.breadcrumb {
  background-color: transparent; /* Cambia el color de fondo a transparente */
  margin: 0 auto;
}

.pagination-container {
  margin: 10px 0;
}

/* Ajustes adicionales según sea necesario */

.bg-blue-100 {
  background-color: #ebf8ff;
}

.container_registro {
  background-color: #ebf8ff;
  padding: 5px;
}


.mb-3 {
  margin-bottom: 0; /* Puedes reducir o eliminar el margen si es necesario */
}
