<body>
    <div class="wrapper">

        
        <aside id="sidebar" [class.collapsed]="isCollapsed" style="background-color: black; color: white;">
            <div class="h-100">
                
                <div class="sidebar-logo">
                    <a routerLink="/admin/dashboard">DARYZA</a>
                </div>
          
                <ul class="sidebar-nav">

                    <li class="sidebar-item">
                        <a class="sidebar-link">
                            <p>Bienvenido {{ username }}</p> <!-- Nombre de usuario -->
                            <p>ROL: {{ role }}</p> <!-- Rol del usuario -->
                        </a>
                    </li>

                    <hr style="border-top: 3px solid #ffffff; margin-top: 10px; margin-bottom: 10px;">
                    
                    <li class="sidebar-item" *ngIf="role === 'Administrador' || role === 'Almacen'">
                        <a routerLink="/admin/dashboard" class="sidebar-link">
                            <i class="bi bi-grid-fill pe-2"></i> DASHBOARD
                        </a>
                    </li>

                    <li class="sidebar-item" *ngIf="role === 'Administrador' || role === 'Ventas'" >
                        <a routerLink="/admin/configuracion" class="sidebar-link collapsed">
                            <i class="bi bi-person-fill pe-2"></i> CLIENTE
                        </a>
                    </li>    
                    

                    <li class="sidebar-item dropdown" *ngIf="role === 'Administrador' || role === 'Ventas'">
                        <a href="#" class="sidebar-link dropdown-toggle" (click)="toggleVentasMenu($event)" aria-expanded="false">
                            <i class="bi bi-bar-chart-fill pe-2"></i> VENTAS
                        </a>
                        <ul id="ventasMenu" class="list-unstyled collapse">
                            <li class="sidebar-subitem">
                                <a routerLink="/admin/ventas1" class="sidebar-link">
                                    <i class="bi bi-cash-stack pe-2"></i> Ventas 1
                                </a>
                            </li>
                            <li class="sidebar-subitem">
                                <a routerLink="/admin/ventas2" class="sidebar-link">
                                    <i class="bi bi-cash-stack pe-2"></i> Ventas 2
                                </a>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="sidebar-item dropdown" *ngIf="role === 'Administrador' || role === 'Almacen'">
                        <a href="#" class="sidebar-link dropdown-toggle" (click)="toggleGestionMenu($event)" aria-expanded="false">
                        <i class="bi bi-box-seam pe-2"></i> ALMACEN
                        </a>
                        <ul id="gestionMenu" class="list-unstyled collapse">
                            <li class="sidebar-subitem">
                                <a routerLink="/admin/productos" class="sidebar-link">
                                    <i class="bi bi-boxes pe-2"></i> PRODUCTO
                                </a>
                            </li>
                            <li class="sidebar-subitem">
                                <a routerLink="/admin/marcas" class="sidebar-link">
                                    <i class="bi bi-shop pe-2"></i> MARCA
                                </a>
                            </li>
                            <li class="sidebar-subitem">
                                <a routerLink="/admin/categoria" class="sidebar-link">
                                    <i class="bi bi-grid pe-2"></i> CATEGORIA
                                </a>
                            </li>
                            <li class="sidebar-subitem">
                                <a routerLink="/admin/unidad_medida" class="sidebar-link">
                                    <i class="bi bi-rulers pe-2"></i> UNIDAD DE MEDIDA
                                </a>
                            </li>                           
                            
                        </ul>
                    </li>

                    <li class="sidebar-item dropdown">
                        <a href="#" class="sidebar-link dropdown-toggle" (click)="toggleMovimientosMenu($event)" aria-expanded="false">
                            <i class="bi bi-bar-chart-fill pe-2"></i> MOVIMIENTOS
                        </a>
                        <ul id="ventasMovimiento" class="list-unstyled collapse">
                            <li class="sidebar-subitem">
                            <a routerLink="/admin/entrada1" class="sidebar-link">
                                <i class="bi bi-cash-stack pe-2"></i> ENTRADAS
                            </a>
                            </li>
                            <li class="sidebar-subitem">
                            <a routerLink="/admin/salidas2" class="sidebar-link">
                                <i class="bi bi-cash-stack pe-2"></i> SALIDAS
                            </a>
                            </li>
                        </ul>
                    </li>

                    <hr style="border-top: 3px solid #ffffff; margin-top: 10px; margin-bottom: 10px;">
                    
                    <li class="sidebar-item">
                        <a routerLink="/admin/configuracion" class="sidebar-link collapsed">
                            <i class="bi bi-gear-fill pe-2"></i> ADMIN - USER
                        </a>
                    </li>
                    
                    <li class="sidebar-item">
                        <a routerLink="/admin/configuracion" class="sidebar-link collapsed">
                            <i class="bi bi-gear-fill pe-2"></i> CONFIGURACION
                        </a>
                    </li>
                    
                </ul>
            </div>
        </aside>
          
        
        <div class="main">
                
            <nav class="navbar navbar-expand px-3 border-bottom">
    
                <button class="btn" id="sidebar-toggle" type="button">
                    <button class="navbar-toggler-icon" id="sidebar-toggle" (click)="toggleSidebar()"></button>
                </button>
        
                <div class="ml-auto" style="font-size: 150%;" >
                    <button class="navbar-toggler-icon" id="salir" type="button" class="page-link" (click)="cerrarSesion()">
                        <i class="bi bi-door-closed"></i>
                    </button>
                </div>
    
            </nav>

            
            <!-- ACA ADENTRO VA EL DASHBOARD y todo las demas PAGINAS: -->
            <main class="content px-3 py-2">
                <div class="container-fluid">
            
                    <!-- <div class="card border-0"> : Esto da el color Blanco. -->
                    <div>
                                
                        <!-- Nested Views -->
                        <router-outlet></router-outlet>
                                
                    </div>
    
                </div>
            </main>


            <footer class="footer bg-blue-600 text-white p-3">
                <div class="container mx-auto flex justify-between items-center">
        
                    <div class="text-lg font-bold">
                        <h3>Daryza</h3>
                    </div>
        
                    <div class="flex space-x-8">
        
                        <p>Nosotros</p>
                        
                    </div>
        
                </div>
            </footer>


        </div>
        
    </div>

</body>
    