/* src/app/auth/register/register.component.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container-fluid {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header img {
    width: 100%;
    max-width: 200px;
}

.card-header h3 {
    margin: 0;
}

.table th, .table td {
    text-align: center;
}

/* Encabezado */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 2px solid #ddd; /* separacion  */
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

.logo img {
    width: 100px;
}

.empresa-info {
    flex: 1;
    padding-left: 20px;
}

.comprobante-info {
    text-align: center;
    border: 2px solid #333;
    padding: 10px;
    border-radius: 5px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f4f4f4;
}

/* Estilo para los inputs de montos */
.input-amount {
    width: 100px;
    text-align: right;
    color: #6c757d; /* Color plomo */
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

/* Estilo para los botones */
.btn-success {
    background-color: #1b5a99;
    border: none;
}

.btn-success:hover {
    background-color: #3c69e6;
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

/* Quitar las flechas de los inputs de tipo número */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
