
<div class="container" style="padding: 0px;">

    <div class="Breadcrumb bg-white rounded">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <i class="bi bi-house p-2"></i>
            <li class="breadcrumb-item p-2"><a href="admin/dashboard/">Inicio</a></li>
            <li class="breadcrumb-item active p-2" aria-current="page">Marca</li>
          </ol>
        </nav>
    </div>

    <div class="bg-white">
        <div style="display: flex; align-items: center; padding: 10px;">
            <i style="font-size: 25px;"></i>
            <p style="font-size: 24px; line-height: 1.2; margin: 0 0 0 10px;">AGREGAR MARCA</p>
        </div>  
        <hr>
    </div>    

    <div class="container bg-white" style="padding-bottom: 20px;">

        <div class="bg-white">
            <div style="display: flex; align-items: center; padding: 10px 2px 10px 2px;">
                <!-- Campo de búsqueda con evento input -->
                <input type="text" class="form-control" placeholder="Buscar..." (input)="applyFilter($event)" style="margin-right: 10px; width: 200px;">
                <!-- Botón AGREGAR -->
                <button class="btn btn-primary ms-auto" (click)="abrirModal()">
                    <i class="bi bi-plus-lg" style="margin-right: 5px;"></i> AGREGAR
                </button>
            </div>
            <hr>
        </div>
    
        <div class="mat-elevation-z8" style="margin-top: 0px 20px;">
            <table mat-table [dataSource]="dataSource" class="mat-table">
                <!-- Columns definition -->
                <ng-container matColumnDef="id_marca">
                    <th mat-header-cell *matHeaderCellDef style="background-color: black; color: white;"> ID </th>
                    <td mat-cell *matCellDef="let marca"> {{ marca.id_marca }} </td>
                </ng-container>
        
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef style="background-color: black; color: white;"> Nombre </th>
                    <td mat-cell *matCellDef="let marca"> {{ marca.nombre_marca }} </td>
                </ng-container>
        
                <ng-container matColumnDef="created_at">
                    <th mat-header-cell *matHeaderCellDef style="background-color: black; color: white;"> Fecha Creación </th>
                    <td mat-cell *matCellDef="let marca"> {{ marca.created_at }} </td>
                </ng-container>
        
                <ng-container matColumnDef="update_at">
                    <th mat-header-cell *matHeaderCellDef style="background-color: black; color: white;"> Fecha Actualización </th>
                    <td mat-cell *matCellDef="let marca"> {{ marca.update_at }} </td>
                </ng-container>
        
                <ng-container matColumnDef="editar">
                    <th mat-header-cell *matHeaderCellDef style="background-color: black; color: white;"> Editar </th>
                    <td mat-cell *matCellDef="let marca">
                        <button (click)="editarMarca(marca)" class="btn btn-sm" mat-flat-button color="primary">Editar</button>
                    </td>
                </ng-container>
        
                <ng-container matColumnDef="eliminar">
                    <th mat-header-cell *matHeaderCellDef style="background-color: black; color: white;"> Eliminar </th>
                    <td mat-cell *matCellDef="let marca">
                        <button (click)="eliminarMarca(marca.id_marca!)" class="btn btn-danger">Eliminar</button>
                    </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
            </table>
        
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>

    </div>
    
    <!-- Modal para agregar marca -->
    <div class="modal fade" id="agregarMarcaModal" tabindex="-1" role="dialog" aria-labelledby="agregarMarcaModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="agregarMarcaModalLabel">Agregar Marca</h5>
                    <button type="button" class="close" (click)="cerrarModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form (ngSubmit)="guardarMarca()" #marcaForm="ngForm">
                        <div class="mb-3">
                            <label for="nombreMarca" class="form-label">Nombre de la Marca</label>
                            <input type="text" class="form-control" id="nombreMarca" name="nombreMarca" required
                                [(ngModel)]="marca.nombre_marca" #nombreMarca="ngModel">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
  