
/* stilo para el boton los dos botones */

.btn-pdf {
    background-color: rgb(220, 53, 69);
    border: 1px solid black;
    color: white;
}

.btn-pdf:hover {
    background-color: darkred;
    border-color: black;
    color: white;
}

.btn-excel {
    background-color: #188529;
    border: 1px solid black;
    color: white;
}

.btn-excel:hover {
    background-color: darkgreen;
    border-color: black;
    color: white;
}