<div class="container" style="padding: 0px;"> 

    <div class="Breadcrumb bg-white rounded">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <i class="bi bi-house p-2"></i>
            <li class="breadcrumb-item p-2"><a href="admin/dashboard/">Inicio</a></li>
            <li class="breadcrumb-item active p-2" aria-current="page">Movimientos</li>
          </ol>
        </nav>
    </div>

    <div class="bg-white">
        <div style="display: flex; align-items: center; padding: 10px;">
            <i style="font-size: 25px;"></i>
            <p style="font-size: 24px; line-height: 1.2; margin: 0 0 0 10px;">LISTA DE MOVIMIENTOS</p>
        </div>  
        <hr>
    </div>   

    <div class="container bg-white" style="padding-bottom: 20px;">
        <div class="bg-white">
          <div style="display: flex; align-items: center; padding: 10px 2px 10px 2px;">
            <!-- Select para filtrar por tipo de movimiento -->
            <select class="form-control" [(ngModel)]="tipoMovimientoFiltro" (change)="applyFilter()" style="margin-right: 10px; width: 200px;">
              <option value="Todos">Todos</option>
              <option value="entrada">Entrada</option>
              <option value="salida">Salida</option>
            </select>
          </div>
          <hr>
        </div>
        
        <div class="mat-elevation-z8" style="margin-top: 20px;">
          <table mat-table [dataSource]="dataSource" class="mat-table">
            <!-- Columnas de la tabla -->
            <ng-container matColumnDef="id_movimiento">
              <th mat-header-cell *matHeaderCellDef style="background-color: black; color: white;">ID</th>
              <td mat-cell *matCellDef="let movimiento"> {{ movimiento.id_movimiento }} </td>
            </ng-container>

            <ng-container matColumnDef="nombre_prod">
                <th mat-header-cell *matHeaderCellDef style="background-color: black; color: white;">Producto</th>
                <td mat-cell *matCellDef="let movimiento">
                  <ul>
                    <li *ngFor="let detalle of movimiento.detalles">
                      {{ detalle.nombre_prod }}
                    </li>
                  </ul>
                </td>
            </ng-container>
      
            <ng-container matColumnDef="referencia">
              <th mat-header-cell *matHeaderCellDef style="background-color: black; color: white;">Referencia</th>
              <td mat-cell *matCellDef="let movimiento"> {{ movimiento.referencia }} </td>
            </ng-container>
      
            <ng-container matColumnDef="cant_total">
              <th mat-header-cell *matHeaderCellDef style="background-color: black; color: white;">Cantidad Total</th>
              <td mat-cell *matCellDef="let movimiento"> {{ movimiento.cant_total }} </td>
            </ng-container>
      
            <ng-container matColumnDef="tipo_movimiento">
              <th mat-header-cell *matHeaderCellDef style="background-color: black; color: white;">Tipo Movimiento</th>
              <td mat-cell *matCellDef="let movimiento"> {{ movimiento.tipo_movimiento === 1 ? 'Entrada' : 'Salida' }} </td>
            </ng-container>
      
            <ng-container matColumnDef="created_at">
              <th mat-header-cell *matHeaderCellDef style="background-color: black; color: white;">Fecha Creación</th>
              <td mat-cell *matCellDef="let movimiento"> {{ movimiento.created_at | date:'yyyy-MM-dd HH:mm' }} </td>
            </ng-container>
      
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
      
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
      

</div>