<div class="container-fluid" style="padding: 0px;">

    <div class="Breadcrumb bg-white rounded">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <i class="bi bi-house p-2"></i>
                <li class="breadcrumb-item p-2"><a href="admin/dashboard/">Inicio</a></li>
                <li class="breadcrumb-item active p-2" aria-current="page">Producto</li>
            </ol>
        </nav>
    </div>

    <div class="bg-white">
        <div style="display: flex; align-items: center; padding: 10px;">
            <i style="font-size: 25px;"></i>
            <p style="font-size: 24px; line-height: 1.2; margin: 0 0 0 10px;">AGREGAR PRODUCTO</p>
        </div>  
        <hr>
    </div>    

    <div class="container-fluid  bg-white" style="padding-bottom: 20px;">
        
        <div class="bg-white">
            <div style="display: flex; align-items: center; padding: 10px 2px 10px 2px;">
                <input type="text" class="form-control" placeholder="Buscar..." (input)="applyFilter($event)" style="margin-right: 10px; width: 200px;">
                
                <!-- Espacio flexible para empujar los botones a la derecha -->
                <div style="flex-grow: 1;"></div>
                
                <!-- Botones de descarga PDF y Excel -->
                <button type="button" class="btn btn-outline-danger btn-sm me-2" style="padding: 8px 20px" (click)="descargarPDF()">
                    <i class="bi bi-file-earmark-pdf"></i> PDF
                </button>
                <button type="button" class="btn btn-outline-success btn-sm me-2" style="padding: 8px 20px" (click)="descargarExcel()">
                    <i class="bi bi-file-earmark-excel"></i> Excel
                </button>         
        
                <!-- Botón AGREGAR -->
                <button class="btn btn-custom-blue" (click)="abrirModalParaAgregar()">
                    <i class="bi bi-plus-lg" style="margin-right: 5px;"></i> AGREGAR
                </button>
                
            </div>
            <hr>
        </div>
        
        <div class="mat-elevation-z8" style="margin-top: 0px 20px; overflow-x: auto;">
            <table mat-table [dataSource]="dataSource" class="mat-table">
                <!-- Columns definition -->
                <ng-container matColumnDef="id_producto">
                    <th mat-header-cell *matHeaderCellDef style="background-color: black; color: white;"> ID </th>
                    <td mat-cell *matCellDef="let producto"> {{ producto.id_producto }} </td>
                </ng-container>
        
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef style="background-color: black; color: white;"> Nombre </th>
                    <td mat-cell *matCellDef="let producto"> {{ producto.nombre_prod }} </td>
                </ng-container>
        
                <ng-container matColumnDef="estock">
                    <th mat-header-cell *matHeaderCellDef style="background-color: black; color: white;"> Estock </th>
                    <td mat-cell *matCellDef="let producto"> {{ producto.estock }} </td>
                </ng-container>
        
                <ng-container matColumnDef="precio_compra">
                    <th mat-header-cell *matHeaderCellDef style="background-color: black; color: white;"> Precio Compra </th>
                    <td mat-cell *matCellDef="let producto"> {{ producto.precio_compra }} </td>
                </ng-container>
        
                <ng-container matColumnDef="precio_venta">
                    <th mat-header-cell *matHeaderCellDef style="background-color: black; color: white;"> Precio Venta </th>
                    <td mat-cell *matCellDef="let producto"> {{ producto.precio_venta }} </td>
                </ng-container>
        
                <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef style="background-color: black; color: white;"> Código </th>
                    <td mat-cell *matCellDef="let producto"> {{ producto.codigo }} </td>
                </ng-container>
        
                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef style="background-color: black; color: white;"> Estado </th>
                    <td mat-cell *matCellDef="let producto">

                        <span [ngClass]="{
                            'activo': producto.estado,
                            'inactivo': !producto.estado
                        }">
                            {{ producto.estado ? 'Activo' : 'Inactivo' }}
                        </span>

                    </td>
                </ng-container>
        
                <ng-container matColumnDef="imagen">
                    <th mat-header-cell *matHeaderCellDef style="background-color: black; color: white;"> Imagen </th>
                    <td mat-cell *matCellDef="let producto">
                        <img *ngIf="producto.imagen" [src]="producto.imagen" width="50" height="50" />
                    </td>
                </ng-container>       
        
                <ng-container matColumnDef="created_at">
                    <th mat-header-cell *matHeaderCellDef style="background-color: black; color: white;"> Fecha Creación </th>
                    <td mat-cell *matCellDef="let categoria"> {{ categoria.created_at }} </td>
                </ng-container>
        
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef style="background-color: black; color: white;"> Acciones </th>
                    
                    <td mat-cell *matCellDef="let producto">
                        <button (click)="editarProducto(producto)" class="btn btn-sm btn-custom-blue me-2">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button (click)="eliminarProducto(producto.id_producto)" class="btn btn-sm btn-danger">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>

                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        
            <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
        </div>

    </div>

    <!-- Modal for adding/updating product -->
    <div class="modal fade" id="agregarProductoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg custom-modal-width" role="document"> <!-- Agregar clase personalizada -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Producto</h5>
                    <button type="button" class="close" (click)="cerrarModal()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form #productoForm="ngForm" (ngSubmit)="guardarProducto()">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="nombre">Nombre <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="nombre" [(ngModel)]="producto.nombre_prod" name="nombre" required>
                                <div *ngIf="productoForm.controls['nombre']?.invalid && (productoForm.controls['nombre']?.dirty || productoForm.controls['nombre']?.touched)" class="text-danger">
                                    <div *ngIf="productoForm.controls['nombre']?.errors?.['required']">El nombre es obligatorio.</div>
                                </div>
                            </div>
                            <!-- <div class="col-md-4">
                                <label for="serie" class="form-label">SERIE</label>
                                <input type="text" id="serie" name="serie" class="form-control" readonly>
                            </div> -->
                            <div class="col-md-6 mb-3">
                                    <label for="serie" class="form-label">SERIE</label>
                                    <input type="text" id="serie" name="serie" class="form-control" readonly placeholder="P-000000001">
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="descripcion_pro" class="block mb-2 text-sm font-medium text-black">Descripción</label>
                            <textarea id="editDescripcion" name="editDescripcion" [(ngModel)]="producto.descripcion_pro" rows="2" class="block p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"></textarea>
                          </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="precio_compra">Precio de Compra <span class="text-danger">*</span></label>
                                <input type="number" class="form-control" id="precio_compra" [(ngModel)]="producto.precio_compra" name="precio_compra" required>
                                <div *ngIf="productoForm.controls['precio_compra']?.invalid && (productoForm.controls['precio_compra']?.dirty || productoForm.controls['precio_compra']?.touched)" class="text-danger">
                                    <div *ngIf="productoForm.controls['precio_compra']?.errors?.['required']">El precio de compra es obligatorio.</div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="precio_venta">Precio de Venta <span class="text-danger">*</span></label>
                                <input type="number" class="form-control" id="precio_venta" [(ngModel)]="producto.precio_venta" name="precio_venta" required>
                                <div *ngIf="productoForm.controls['precio_venta']?.invalid && (productoForm.controls['precio_venta']?.dirty || productoForm.controls['precio_venta']?.touched)" class="text-danger">
                                    <div *ngIf="productoForm.controls['precio_venta']?.errors?.['required']">El precio de venta es obligatorio.</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">

                            <!-- <div class="col-md-6 mb-3">
                                <label for="estado">Estado</label>
                                <select class="form-control" id="estado" [(ngModel)]="producto.estado" name="estado">
                                    <option [ngValue]="true">Activo</option>
                                    <option [ngValue]="false">Inactivo</option>
                                </select>
                            </div> -->

                            <div class="col-md-6 mb-3">
                                <label for="estado" class="form-label">Estado</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="estado" [(ngModel)]="producto.estado" name="estadoMarca">
                                    <label class="form-check-label" for="estado">{{ producto.estado ? 'Activo' : 'Inactivo' }}</label>
                                </div>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="categoria">Categoría <span class="text-danger">*</span></label>
                                <div class="position-relative">
                                    <select class="form-control" id="categoria" [(ngModel)]="producto.categoria" name="categoria" required>
                                        <option *ngFor="let categoria of categorias" [value]="categoria.id_categoria">{{ categoria.nombre_categoria }}</option>
                                    </select>
                                    <i class="fas fa-chevron-down position-absolute" style="right: 10px; top: 50%; transform: translateY(-50%); pointer-events: none;"></i>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="estock">Estock <span class="text-danger">*</span></label>
                                <input type="number" class="form-control" id="estock" [(ngModel)]="producto.estock" name="estock" required>
                                <div *ngIf="productoForm.controls['estock']?.invalid && (productoForm.controls['estock']?.dirty || productoForm.controls['estock']?.touched)" class="text-danger">
                                    <div *ngIf="productoForm.controls['estock']?.errors?.['required']">El estock es obligatorio.</div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="estock_minimo">Estock Mínimo <span class="text-danger">*</span></label>
                                <input type="number" class="form-control" id="estock_minimo" [(ngModel)]="producto.estock_minimo" name="estock_minimo" required>
                                <div *ngIf="productoForm.controls['estock_minimo']?.invalid && (productoForm.controls['estock_minimo']?.dirty || productoForm.controls['estock_minimo']?.touched)" class="text-danger">
                                    <div *ngIf="productoForm.controls['estock_minimo']?.errors?.['required']">El estock mínimo es obligatorio.</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="marca">Marca <span class="text-danger">*</span></label>
                                <div class="position-relative">
                                    <select class="form-control" id="marca" [(ngModel)]="producto.marca" name="marca" required>
                                        <option *ngFor="let marca of marcas" [value]="marca.id_marca">{{ marca.nombre_marca }}</option>
                                    </select>
                                    <i class="fas fa-chevron-down position-absolute" style="right: 10px; top: 50%; transform: translateY(-50%); pointer-events: none;"></i>
                                </div>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="unidadMedida">Unidad de Medida <span class="text-danger">*</span></label>
                                <div class="position-relative">
                                    <select class="form-control" id="unidadMedida" [(ngModel)]="producto.unidad_medida" name="unidadMedida" required>
                                        <option *ngFor="let unidad of unidadesMedida" [value]="unidad.id_unidadMedida">{{ unidad.nombre_unidad }}</option>
                                    </select>
                                    <i class="fas fa-chevron-down position-absolute" style="right: 10px; top: 50%; transform: translateY(-50%); pointer-events: none;"></i>
                                </div>
                            </div>
                            
                        </div>

                        <div class="mb-3">
                            <label for="imagen">Imagen</label>
                            <input type="file" class="form-control" id="imagen" (change)="manejarArchivo($event)">
                            <div *ngIf="producto.imagen">
                                <img [src]="producto.imagen" alt="Imagen del Producto" style="max-width: 100px; margin-top: 10px;">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
                        <button type="submit" class="btn btn-primary" [disabled]="productoForm.invalid">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    
</div>